body{
     color: black;
}
h1 {
    background-color: blue;
}
h2{
    background-color: blue;
}
h3{
    background-color: blue;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;

}
.glass{
    width: 30%;
    margin-left: 30px;
    margin-right: 40px;
    padding: 40 px;
    float: left;
}
.glass img{
    height: 400px;
}

.test-box{
    border-left: 2px;
    border-right: 4px;
    border-bottom: 6px;
    border-right: 8px;
    position: bottom;
}  

